@model IEnumerable<ShortbrainWeb.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des utilisateurs</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th> 
            <th>Username</th> 
            <th>Last Name</th> 
            <th>First Name</th>
            <th>News Letter</th>
            <th>Member Of</th>
        </tr>
    </thead> 
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <th scope="row">@user.Id</th>
            <td>@user.Username</td>
            <td>@user.Name</td>
            <td>@user.Firstname</td>
            <td>@user.IsSubscribedToNewsLetter</td>
            <td>@user.MembershipType</td>
        </tr>
    }
    </tbody>
</table>